# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
dude

# Vim
*.vim
*.swp
*.session
*~

# astyle
*.orig

# gdb
.gdbinit

# task
.task/
.taskrc

# Directories
bin/
dist/
obj/
lib/
include/
design/
scripts/
.old/

# env
dude.env
dude.sh
